---
layout: default
---

<div class="posts">
  {% assign lang_folder = page.lang %}
  {% for project in site.projects %}
    {% if project.path contains lang_folder %}
      <article class="post">
        <a href="{{ project.project_url }}" target="_blank" rel="noreferrer">
          <h1>{{ project.title }}</h1>
        </a>
        <p>{{ project.content }}</p>
        <div class="post-tags">
        {% if project %}
          {% assign categories = project.categories %}
        {% else %}
          {% assign categories = page.categories %}
        {% endif %}
        {% for category in categories %}
          <a href="#" style="cursor: auto">{{category}}</a>
          {% unless forloop.last %}&nbsp;{% endunless %}
        {% endfor %}
        </div>
        {% if page.lang == 'en' %}
          <a href="{{ project.project_url }}" target="_blank" rel="noreferrer" class="read-more">See More</a>
        {% else %}
          <a href="{{ project.project_url }}" target="_blank" rel="noreferrer" class="read-more">もっと見る</a>
        {% endif %}
      </article>
    {% endif %}
  {% endfor %}
</div>